/* Шрифты */
@font-face {
    font-family: 'Circe';
    src: url('./assets/fonts/circe_bold.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/circe_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('./assets/fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/circe_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('./assets/fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('./assets/fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/circe_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('./assets/fonts/circe.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('./assets/fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/circe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('./assets/fonts/geologica-italic.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/geologica-italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('./assets/fonts/geologica-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/geologica-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Сброс стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
}

/* Базовые стили */
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 20px;
    line-height: normal;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

@media (max-width: 1800px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 1.95vw;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 2.6vw;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 5.33vw;
    }
}

@media (max-width: 1800px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

body {
    background-color: #e6e6e6;
    color: #000;
    font-family: "Circe", sans-serif;
    scrollbar-gutter: stable;
}

.container {
    max-width: 84rem;
    margin: 0 auto;
}

@media (max-width: 1800px) {
    .container {
        max-width: 64rem;
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: none;
        margin: 0;
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 .8rem;
    }
}

.section {
    margin-bottom: 9rem;
}

@media (max-width: 768px) {
    .section {
        margin-bottom: 7rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1rem;
}

@media (max-width: 1400px) {
    .grid {
        column-gap: .8rem;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: .4rem;
    }
}

.gold {
    color: #b89367;
}

.title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 2rem;
}

@media (max-width: 1800px) {
    .title {
        font-size: 1.2rem;
    }
}

@media (max-width: 1400px) {
    .title {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: .8rem;
        margin-bottom: 1.2rem;
    }
}

@media (max-width: 768px) {
    .title {
        grid-column: 1/-1;
    }
}


img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

svg {
    width: 100%;
    height: auto;
}

main {
    overflow: hidden;
}

[id] {
    scroll-margin-top: 5rem;
}

@keyframes appearHeader {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes appearLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appearBtn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearMobile {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

/* Шапка */
header {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1;
    transform: translateY(-100%);
    transition: background-color 0.2s;
    animation: appearHeader 0.5s ease 0.5s forwards;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

header.scrolled .header {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    align-items: center;
}

@media (max-width: 1800px) {
    header.scrolled .header {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}

@media (max-width: 768px) {
    header.scrolled .header {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
}

.header {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: padding 0.2s;
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

@media (max-width: 1800px) {
    .header__btns {
        gap: 2.6rem;
    }
}

@media (max-width: 1024px) {
    .header__btns {
        gap: 1.6rem;
    }
}

@media (max-width: 768px) {
    .header__btns {
        gap: .6rem;
        justify-content: space-between;
        width: 100%;
    }
}

.header__link:hover,
.header__contact-link:hover {
    color: #b89367;
}

.header__link,
.header__contact-link {
    display: block;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: color 0.2s;
}

.header__contact-link {
    font-weight: 400;
    font-family: 'Geologica', sans-serif;
    font-style: italic;
}

@media (max-width: 1800px) {
    .header__link,
    .header__contact-link {
        font-size: 0.7rem;
    }
}

@media (max-width: 1024px) {
    .header__link,
    .header__contact-link {
        font-size: 0.6rem;
    }
}

.header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

@media (max-width: 768px) {
    .header__contact {
        display: none;
    }
}

/* Первый экран */
.screen {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.screen__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 1800px) {
    .screen__container {
        gap: 1.2rem;
    }
}

.screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
}

.screen__bg img {
    object-fit: cover;
}

.screen__logo {
    width: 20.5rem;
    opacity: 0;
    animation: appearLogo 1s ease 1s forwards;
}

@media (max-width: 1024px) {
    .screen__logo {
        width: 14.5rem;
    }
}

.screen__subtitle, .screen__time {
    width: 20.5rem;
    font-weight: 400;
    font-size: .8rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: appearLogo 1s ease 1s forwards;
}

@media (max-width: 1800px) {
    .screen__subtitle, .screen__time {
        font-size: .6rem;
    }
}

@media (max-width: 1024px) {
    .screen__subtitle, .screen__time {
        width: 14.5rem;
    }
}

.screen__time-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

.screen__btn:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

.screen__btn:active {
    color: #7e7e7e;
    border-color: #7e7e7e;
}

.screen__btn {
    display: block;
    color: #fff;
    padding: .7rem 2.4rem;
    border-radius: 0.6rem;
    border: 1px solid #fff;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: .6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0;
    cursor: pointer;
    animation: appearLogo 1s ease 1s forwards;
    transition: color 0.2s, border-color 0.2s;
}

@media (max-width: 1800px) {
    .screen__btn {
        border-radius: 0.4rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 1024px) {
    .screen__btn {
        font-size: 0.6rem;
    }
}

.screen__down-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem calc((100% - 84rem) * 0.5);
    opacity: 0;
    transform: translateY(100%);
    animation: appearBtn 0.5s ease 1.5s forwards;
}

@media (max-width: 1800px) {
    .screen__down-block {
        padding: 2rem calc((100% - 64rem) * 0.5);
    }
}

@media (max-width: 1400px) {
    .screen__down-block {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {
    .screen__down-block {
        padding: 1rem .8rem;
    }
}

.screen__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1800px) {
}

@media (max-width: 1400px) {
    .screen__socials {
        gap: .8rem;
    }
}

@media (max-width: 1024px) {
    .screen__socials {
        gap: .6rem;
    }
}

.screen__socials-item {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
}

@media (max-width: 1400px) {
    .screen__socials-item {
        width: 1.2rem;
        height: 1.2rem;
    }
}

.screen__info {
    display: none;
}

@media (max-width: 768px) {
    .screen__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.2rem;
    }
}

/*Описание*/
.description__text {
    grid-column: 2/8;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 170%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

@media (max-width: 1800px) {
    .description__text {
        font-size: 1.2rem;
    }
}

@media (max-width: 1400px) {
    .description__text {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .description__text {
        font-size: .8rem;
    }
}

@media (max-width: 768px) {
    .description__text {
        grid-column: 1/-1;
    }
}

/*Меню*/

.menu__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 24rem;
    gap: 1rem;
}

.menu__item {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.menu__item-img img {
    object-fit: cover;
}

.menu__item-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0.6rem;
    height: 21.4rem;
    transition: height 0.2s;
}

.menu__item-name {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    text-transform: uppercase;
    transition: color 0.2s;
}

.menu__item-name:hover {
    color: #b89367;
}

.menu__item-img:hover {
    height: 24rem;
}

@media (max-width: 1800px) {
    .menu__list {
        grid-template-rows: 18rem;
    }

    .menu__item-img {
        height: 15.7rem;
    }

    .menu__item-img:hover {
        height: 18rem;
    }
}

@media (max-width: 1400px) {
    .menu__list {
        grid-template-rows: 14.2rem;
        gap: .8rem;
    }

    .menu__item {
        gap: .8rem;
    }

    .menu__item-img {
        height: 12.5rem;
    }

    .menu__item-name {
        font-size: .8rem;
    }

    .menu__item-img:hover {
        height: 14.2rem;
    }
}

@media (max-width: 1024px) {
    .menu__list {
        grid-template-rows: 11.8rem;
        gap: .4rem;
    }

    .menu__item {
        gap: .4rem;
    }

    .menu__item-img {
        height: 10rem;
    }

    .menu__item-name {
        font-size: .6rem;
    }

    .menu__item-img:hover {
        height: 11.8rem;
    }
}

@media (max-width: 768px) {
    .menu__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 12.5rem);
        column-gap: .4rem;
        row-gap: 1.2rem;
    }

    .menu__item-img {
        height: 11rem;
    }

    .menu__item-name:hover {
        color: #000;
    }

    .menu__item-img:hover {
        height: 11rem;
    }

    .menu__item.last {
        grid-column: 1/-1;
    }
}

/* Блок События */
.events .title {
    cursor: pointer;
    transition: color 0.2s;
    margin-bottom: 0;
}

.events .title:hover {
    color: #b89367;
}

.swiper-events, .swiper-sales {
    overflow: hidden;
    padding: 2rem 0 4rem;
}


.events__slider {
    position: relative;
    padding: 0 calc(2.4rem + 24px);
    display: none;
}

.events__slider.active {
    display: block;
}

.events__btns {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
    justify-content: center;
}

.events__btns .title.active {
    color: #b89367;
    border-bottom: 2px solid #b89367;
    padding-bottom: .5rem;
}

.events__slider .events__btn.swiper-button-prev,
.events__slider .events__btn.swiper-button-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0.7rem;
    margin: 0;
    z-index: 0;
    border-radius: 12px;
    background: rgba(184, 147, 103, 0.2);
    border: 1px solid rgba(184, 147, 103, 0.5);
}

.events__btn .swiper-navigation-icon {
    display: none;
}

.events__slider .events__btn.swiper-button-next {
    left: auto;
    right: 0;
    transform: translate(0, -50%);
}

.events__slider .events__btn.swiper-button-prev {
    right: auto;
    left: 0;
    transform: translate(0, -50%);
}

.events__slider .events__btn.swiper-button-next img {
    transform: rotate(180deg);
}

.events__slider .events__btn.swiper-button-next.swiper-button-disabled,
.events__slider .events__btn.swiper-button-prev.swiper-button-disabled {
    opacity: .6;
}

.events__slide-holder {
    border-radius: 0.6rem;
    background: rgba(203, 203, 204, 0.2);
    display: grid;
    grid-template-rows: 10rem 7rem;
    gap: 1rem;
    overflow: hidden;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
}

.events__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.events__img img {
    object-fit: cover;
}

.events__content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0 .6rem .6rem;
}

.events__name {
    font-weight: 700;
    font-size: .8rem;
    text-transform: uppercase;
}

.events__description {
    font-size: 0.7rem;
    font-weight: 300;
    opacity: 0.8;
}

.events__footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: auto;
}

.events__date,
.events__link {
    font-size: 0.7rem;
    color: #b89367;
    display: block;
}

.events__link:hover,
.events__link:visited {
    text-decoration: underline;
}

.events__link {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    cursor: pointer;
}

@media (max-width: 1800px) {
    .events__slide-holder {
        grid-template-rows: 10rem 10rem;
    }
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
    .swiper-events, .swiper-sales {
        padding: 1.2rem 0;
    }

    .events__btns .title.active {
        padding-bottom: .4rem;
    }

    .events__slide-holder {
        grid-template-rows: 10rem 7rem;
    }

    .events__name {
        font-size: .7rem;
    }

    .events__description {
        font-size: 0.6rem;
    }

    .events__date,
    .events__link {
        font-size: 0.6rem;

    }

    .events__slider .events__btn.swiper-button-prev,
    .events__slider .events__btn.swiper-button-next {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
    }

    .events__slider {
        padding: 0 calc(2rem + 12px);
    }
}

@media (max-width: 769px) {
    .events__slide-holder {
        grid-template-rows: 10rem 10rem;
    }
}

/*Интерьер*/
.interrior .swiper-interrior {
    overflow: hidden;
}

.interrior .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.5rem;
    border-radius: 12px;
    overflow: hidden;
    transition: width 0.4s ease, height 0.4s ease;
}

.interrior .swiper-slide > img {
    object-fit: cover;
}


.interrior .swiper-slide-active {
    height: 17rem;
}

.interrior .swiper-wrapper {
    height: 17rem;
    align-items: center;
    margin-bottom: 1.2rem;
}

.interrior .about__buttons {
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.interrior .events__btn.swiper-button-prev,
.interrior .events__btn.swiper-button-next {
    position: static;
    cursor: pointer;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0.7rem;
    margin: 0;
    z-index: 0;
    border-radius: 12px;
    background: rgba(184, 147, 103, 0.2);
    border: 1px solid rgba(184, 147, 103, 0.5);
}

.interrior .swiper-navigation-icon {
    display: none;
}

.interrior .swiper-button-next > img {
    transform: rotateZ(180deg);
}

.interrior__about {
    align-items: center;
}

.interrior__text {
    grid-column: 1/4;
    padding-right: 6rem;
    font-weight: 400;
    font-size: .9rem;
    line-height: 160%;
    text-transform: uppercase;
    color: #000;
    opacity: .8;
}

.interrior .events__btn.swiper-button-prev {
    justify-self: end;
}

.interrior.swiper-button-prev {
}

@media (max-width: 1800px) {

    .interrior .swiper-slide {
        height: 10rem;
    }

    .interrior .swiper-slide-active {
        height: 14rem;
    }

    .interrior .swiper-wrapper {
        height: 14rem;
    }

    .interrior__text {
        font-size: .7rem;
        padding-right: 4rem;
    }
}

@media (max-width: 1400px) {

    .interrior .swiper-slide {
        height: 7rem;
    }

    .interrior .swiper-slide-active {
        height: 10rem;
    }

    .interrior .swiper-wrapper {
        height: 10rem;
        margin-bottom: 0.8rem;
    }

    .interrior .events__btn.swiper-button-prev,
    .interrior .events__btn.swiper-button-next {
        width: 2rem;
        height: 2rem;
        padding: 0.6rem;
    }

    .interrior__text {
        padding-right: 0;
    }
}

@media (max-width: 1024px) {
    .interrior .swiper-wrapper {
        margin-bottom: 1.2rem;
    }

    .interrior .swiper-slide {
        height: 5.5rem;
    }

    .interrior .swiper-slide-active {
        height: 8rem;
    }

    .interrior .swiper-wrapper {
        height: 8rem;
    }

    .interrior__text {
        padding-top: 1.2rem;
        font-size: .6rem;
    }
}

@media (max-width: 768px) {
    .interrior__text {
        order: 1;
        grid-column: 1/-1;
    }

    .interrior .events__btn.swiper-button-prev {
        grid-column: 2/3
    }

    .interrior .events__btn.swiper-button-next {
        grid-column: 3/4
    }
}

/*Банкет*/
.banket {
    row-gap: 2rem;
}

.banket__title {
    grid-column: 1/5;
    margin-bottom: 0;
}

.banket__text {
    grid-column: 5/-1;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    text-transform: uppercase;
    opacity: 0.8;
}

.banket__link {
    display: block;
    overflow: hidden;
    aspect-ratio: 1.5/1;
    border-radius: 0.6rem;
    position: relative;
}

.banket__link img {
    object-fit: cover;
}

.banket__link.left {
    grid-column: 1/5;
}

.banket__link-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}

.banket__link.right {
    grid-column: 5/-1;
}

@media (max-width: 1800px) {
    .banket__text {
        font-size: .8rem;
    }
}

@media (max-width: 1400px) {
    .banket__text {
        font-size: .7rem;
    }

    .banket__link-text {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .banket {
        row-gap: 1.2rem;
    }

    .banket__text {
        font-size: .6rem;
    }

    .banket__link-text {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .banket__title {
        grid-column: 1/-1;
    }

    .banket__text {
        grid-column: 1/-1;
    }

    .banket__link.left {
        grid-column: 1/3;
    }

    .banket__link-text {
        font-size: .6rem;
    }

    .banket__link.right {
        grid-column: 3/-1;
    }
}

/*Карта лояльности*/
.loyal {
    align-items: center;
}

.loyal__info {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.loyal__title {
    margin-bottom: 0;
}

.loyal__text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
    text-transform: uppercase;
    opacity: 0.8;
}

.loyal__doc:hover {
    text-decoration: underline;
}

.loyal__doc {
    font-weight: 400;
    font-size: .8rem;
    line-height: 160%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
    opacity: 0.8;
    width: fit-content;
}

.loyal__card {
    grid-column: 5/-1;
    padding: 0 6rem;
}

.loyal__img {
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 1.2rem;
    border: 1px solid rgba(184, 147, 103, 1);
}

.loyal__btn:hover {
    background: rgba(184, 147, 103, 0.5);
}

.loyal__btn {
    border: 1px solid rgba(184, 147, 103, 1);
    border-radius: 0.6rem;
    padding: 1rem 2.4rem;
    width: 100%;
    background: rgba(184, 147, 103, 0.2);
    font-weight: 400;
    font-size: .7rem;
    color: #8e704c;
    transition: background-color .2s;
}

@media (max-width: 1800px) {
    .loyal__info {
        grid-column: 1/5;
    }

    .loyal__card {
        padding: 0 4.5rem;
    }
}

@media (max-width: 1400px) {
    .loyal__info {
        grid-column: 1/5;
    }

    .loyal__text {
        font-size: 0.8rem;
    }

    .loyal__doc {
        font-size: .7rem;
    }

    .loyal__card {
        grid-column: 6/-1;
        padding: 0;
    }

    .loyal__img {
        margin-bottom: 0.8rem;
    }

    .loyal__btn {
        font-size: .6rem;
    }
}

@media (max-width: 1024px) {
    .loyal__info {
        grid-column: 1/4;
        gap: 1.2rem;
    }

    .loyal__text {
        font-size: 0.6rem;
    }

    .loyal__doc {
        font-size: .6rem;
    }

    .loyal__card {
        grid-column: 6/-1;
    }

    .loyal__btn {
        padding: 0.6rem 2.4rem;
    }
}

@media (max-width: 768px) {
    .loyal {
        row-gap: 1.2rem;
    }

    .loyal__info {
        grid-column: 1/-1;
    }

    .loyal__card {
        grid-column: 1/-1;
    }

    .loyal__btn:hover {
        background: rgba(184, 147, 103, 0.2);
    }
}

/*Бронь*/
.book__title {
    text-align: center;
}

/* Футер */
footer {
    background: #b89367;
    padding: 3rem;
    color: #fff;
}

.footer {
    row-gap: 1rem;
}

.footer__info {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}

.footer__phone a {
    font-size: .8rem;
}

.footer__phone {
    margin-bottom: 2rem;
}

.footer__social {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.footer__social div {
    width: 1.6rem;
    height: 1.6rem;
}

.footer__time {
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.footer__time.last {
    margin-bottom: 2rem;
}

.footer__review-link {
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    position: relative;
}

.footer__review-link::after {
    content: url("./assets/images/link.svg");
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(110%, -50%);
    width: 1.2rem;
    height: 1.2rem;
}

.footer__map {
    grid-column: 5 / -1;
}

.footer__address {
    margin-bottom: 1rem;
}

.footer__address a {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.footer__y-map {
    border-radius: 0.6rem;
    overflow: hidden;
}

.footer__y-map div {
    height: 15rem;
}

.footer__sub {
    grid-column: 1 / -1;
    display: flex;
    gap: 4rem;
}

.footer__doc {
    font-size: 0.8rem;
    text-transform: uppercase;
}

@media (max-width: 1400px) {
    .footer__map {
        padding-left: 2rem;
    }

    .footer__y-map div {
        height: 10.5rem;
    }
}

@media (max-width: 1024px) {
    .footer__info {
        flex-direction: column;
    }

    footer {
        padding: 1.2rem 0;
    }

    .footer {
        row-gap: 2rem;
    }

    .footer__info {
        grid-column: 1 / 3;
    }

    .footer__phone a {
        font-size: .7rem;
    }

    .footer__time {
        font-size: .7rem;
        margin-bottom: .5rem;
    }

    .footer__review-link {
        font-size: 0.7rem;
    }

    .footer__map {
        grid-column: 4/-1;
    }

    .footer__address a {
        font-size: 0.7rem;
    }

    .footer__sub {
        justify-content: space-between;
        gap: 1rem;
    }

    .footer__doc {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    .footer__map {
        grid-column: 1/-1;
        padding: 0;
    }

    .footer__info {
        grid-column: 1/-1;
        flex-direction: row;
        padding-right: 2rem;
    }

    .footer__sub {
        flex-direction: column;
    }
}

/* Страница события */
.singleEvent {
    padding-top: 6rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    row-gap: 3rem;
    position: relative;
}

.singleEvent__img {
    grid-column: 2 / 6;
    border: 1px solid rgba(203, 203, 204, 1);
    aspect-ratio: 1/1;
    border-radius: 0.6rem;
    overflow: hidden;
}

.singleEvent__img img {
    object-fit: cover;
}

.singleEvent__content {
    grid-column: 7 / 12;
}

.singleEvent__subtitle {
    font-size: .8rem;
    line-height: 170%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 0.6rem;
}

.singleEvent__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 170%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}

.singleEvent__info {
    display: flex;
    gap: 0.6rem;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.4rem;
}

.singleEvent__list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.singleEvent__item {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.singleEvent__icon {
    width: 1.2rem;
    height: 1.2rem;
}

.singleEvent__param {
    font-size: .8rem;
    line-height: 170%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.singleEvent__book.btn:hover {
    background: rgba(184, 147, 103, 0.5);
}

.singleEvent__book.btn {
    border: 1px solid rgba(184, 147, 103, 1);
    border-radius: 0.6rem;
    padding: 1rem 2.4rem;
    background: rgba(184, 147, 103, 0.2);
    font-weight: 400;
    font-size: .7rem;
    color: #8e704c;
    transition: background-color .2s;
}

.singleEvent__description {
    font-size: .8rem;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin-bottom: 0.6rem;
}

@media (max-width: 1800px) {
    .singleEvent {
        padding-top: 5rem;
    }

    .singleEvent__img {
        grid-column: 1 / 6;
    }

    .singleEvent__content {
        grid-column: 7 / -1;
    }
}

@media (max-width: 1400px) {
    .singleEvent__content {
        grid-column: 6 / -1;
    }

    .singleEvent__subtitle {
        font-size: .6rem;
    }

    .singleEvent__title {
        font-size: .8rem;
    }

    .singleEvent__icon {
        width: 1rem;
        height: 1rem;
    }

    .singleEvent__param {
        font-size: .6rem;
    }

    .singleEvent__description {
        font-size: .6rem;
    }

    .singleEvent__book.btn {
        font-size: .6rem;
    }
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
        gap: 0.4rem;
        row-gap: 3rem;
    }

    .singleEvent {
        padding-top: 4rem;
    }

    .singleEvent__img {
        grid-column: 1 / 4;
    }

    .singleEvent__content {
        grid-column: 4 / -1;
    }

    .singleEvent__book.btn {
        padding: 0.6rem 2.4rem;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.4rem;
        row-gap: 2rem;
    }

    .singleEvent {
        padding-top: 3rem;
    }

    .singleEvent__img {
        grid-column: 1 / -1;
        aspect-ratio: 1.5/1;
    }

    .singleEvent__content {
        grid-column: 1 / -1;
    }

    .singleEvent__book.btn:hover {
        background: rgba(184, 147, 103, 0.2);
    }

    .singleEvent__book.btn {
        width: 100%;
        text-align: center;
    }

    .singleEvent__info {
        flex-direction: column;
        align-items: flex-start;
    }
}